/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    font-family: 'Overpass', sans-serif;

 /* outline: red solid; */
} 


/* Apply a box-sizing reset to all elements */
*, *::before, *::after {
    box-sizing: border-box;
}


img {
    display: block;
    max-width: 100%;
}


/* CSS RESET END */



body {
    background: #CAC9C9;
    user-select: none;
}

/* Apply styles to the navbar */
.navbar {
    display: flex;
    background: linear-gradient(to right, #CAC9C9, #73b29e, #4d8c78, #325b4e, #172a24);
    color: #fff; /* Text color for the navbar */
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
}

/* Style the navbar links (customize as needed) */
.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
    
}

.navbar-links li {
    list-style: none;
    transition: transform 0.5s ease;
}

.navbar-links a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 1rem;
    font-size: 1.2vw;
}

.navbar-links li:hover {
    transition: transform 0.5s ease;
    transform: scale(1.05);
}

.toggle-button {
    position: absolute;
    top: 1.4rem;
    right: 1rem;
     display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 25px;
}

.toggle-button .bar {
    height: 4px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (min-width: 425px) and (max-width: 765px) {
    .navbar-links a {
        font-size: 2vw;
    }
}

@media (max-width: 425px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: 1rem 1rem;
        font-size: 4vw;
    }

    .navbar-links.active {
        display: flex;

    }
}

/* NAVBAR VIDEO */
.video-container {
    width: 100%;
    height: 40vh; 
    overflow: hidden; 
}

@media (max-width: 425px) {
    .video-container {
        height: 22vh;
    }
}

@media (min-width: 425px) and (max-width: 768px) {
    .video-container {
        height: 27vh;
    }
}

/* Apply styles to the video element */
 video {
    width: 100%; /* Set the video's width to 100% */
    height: 100%;
    object-fit: cover;
}

/* VIDEO NAVBAR END  */



/* LOGO */
.logo {
    display: flex;
    width: 10%;
    align-items: center; 
    height: 15vh;
}

@media (max-width: 425px) {
    .logo {
        height: 12vh;
        width: 18vw;
    }
}


.logo img {
    width: 100%; /* Set a maximum width for the logo to prevent it from creeping out */
    max-height: 100%;
    border-radius: 5px;
    margin-left: 10px;
    transition: transform 0.5s ease;
}

.logo:hover img {
    transform: scale(1.02);
    transition: transform 0.5s ease;
}


/* LOGO END */



/* PRODUKTAI */


.card-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
    justify-content: center;
    align-items: center;
}

@media (min-width: 425px) and (max-width: 768px) {
    .card-container {
        margin-bottom: 10px;
    }
}

@media (max-width: 425px) {
    .card-container {
        margin-bottom: 15px;
        margin-top: 25px;
    }
}

.card {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 75vw;
    height: auto;
    background: transparent;
    border: black 1 px solid;
    border-radius: 10px;
    box-shadow: 0px 0px 12px black;
    transition: transform 0.5s ease;
}

@media (min-width: 425px) and (max-width: 768px) {
    .card {
        height: auto;
        width: 85vw;
    }
}

@media (max-width: 425px) {
    .card {
        flex-direction: column;
    }
}

.card:hover {
    transition: transform 0.5s ease;
    transform: scale(1.02);
}

.photo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 2;
    padding-left: 15px;
}

.photo-container img {
    border-radius: 12px;
    /* margin-left: 20px; */
    width: 90%;
    
}

@media (max-width: 425px) {

    .photo-container {
        width: 100%;
        padding: 10px 0px;
    }
}

.card-text {
    flex: 1;
    font-size: 1.2vw;
    margin: 5px;
}

.extra-text {
    /* text-align: center; */
    flex: 1;
    font-size: 1.2vw;
    margin: 5px;
}

@media (min-width: 425px) and (max-width: 600px) {
    .card-text {
        font-size: 1.75vw;
    }

    .extra-text {
        font-size: 1.75vw;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .card-text {
        font-size: 1.5vw;
    }

    .extra-text {
        font-size: 1.5vw;
    }
}



@media (max-width: 425px) {
    .card {
        height: auto;
        width: 90vw;
    }
    .card-text {
         width: 70%;
         font-size: 0.8em;
    }

    .card-text h3 {
        text-align: center;
    }
    .extra-text {
        width: 70%;
        font-size: 0.8em;
        padding-bottom: 10px;
    }

    .extra-text h3 {
        text-align: center;
    }
}

.card-button {
    display: flex;
   justify-content: center;
}

/* PRODUKTAI END */

/* BUTTON */
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 75px;
    margin-bottom: 75px;
   }
 
   .button-container a {
     text-decoration: none;
     color: inherit;
     padding: 15px;
     border: 1px solid black;
     border-radius: 15px;
     margin: 25px;
     width: 12vw;
     text-align: center;
     cursor: pointer;
     background: #add2c6;
     box-shadow: 0px 0px 0px #325b4e;
     transition: transform 0.5s ease, box-shadow 0.5s ease; 
     font-size: 1.6vw;
   }

   @media (min-width: 425px) and (max-width: 768px) {
    .button-container a {
        font-size: 2vw;
        width: 15vw;
    }

    .button-container {
        margin-top: 25px;
    }
   }

   @media (max-width: 425px) {
    .button-container a {
        font-size: 3vw;
        width: 25vw;
    }
   }

   @media (max-width: 425px) {
    .button-container {
        margin-top: 0;
    }
   }
 
   .button-container a:hover {
     transition: transform 0.5s ease, box-shadow 0.5s ease;
     transform: scale(1.02);
     box-shadow: 0px 0px 10px #325b4e;
   }
 /* BUTTON END */
 
 
 
 /* FOOTER */
 
 .footer {
     height: 15vh;
     width: 100%;
     background: linear-gradient(to right, #CAC9C9, #73b29e, #4d8c78, #325b4e, #172a24);
     display: flex;
     align-content: center;
     justify-content: center;
 }
 
 .footer-tekstas {
     display: flex;
     align-items: center;
     justify-content: center;
     width: 20%;
     height: 100%;
     text-align: center;
 }
 
 
 .footer-socials {
     display: flex;
     width: 100%;
     height: 100%;
     align-items: center;
     justify-content: center;
     gap: 50px;
 }
 
 .footer-socials a {
     font-size: 50px;
     transition: transform 0.5s ease;
 }
 
 .footer-socials a:hover {
     transform: scale(1.1);
     transition: transform 0.5s ease;
 }
 
 